.sizing-wrapper.chat-active {
  width: calc(100% - 360px) !important;
}

.flix-sidebar {
  position: fixed;
  height: 100%;
  width: 360px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.87);
  top: 0;
  right: 0;
  color: white;
  display: none;
  flex-flow: column;
}

.flix-sidebar.chat-active {
  display: flex;
}

#message-area {
  flex: 1;
  width: 100%;
}

#chat-messages {
  min-height: 10vh;
  height: 85vh;
  width: 100%;
  overflow-y: auto;
  color: white;
  background: rgba(0, 0, 0, 0.87);
}

.message-container {
  margin-top: 10px;
}

#input-container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  min-height: 60px;
}

#message-box {
  color: white;
}

.avatar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.avatar-img {
  width: 100% !important;
}

.message {
  margin-bottom: 0;
  word-wrap: break-word;
  padding: 18px !important;
}

.status, .status-self {
  padding: 2px;
}

.status-self {
  color: rgb(43, 187, 173);
}

button:focus {
  background-color: initial;
}

.btn:active {
  transform: translateY(2px);
}
