.sizing-wrapper.chat-active {
  width: calc(100% - 360px) !important;
}

.flix-sidebar {
  position: fixed;
  height: 100%;
  width: 360px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.87);
  top: 0;
  right: 0;
  color: white;
  display: none;
  flex-flow: column;
}

.flix-sidebar.chat-active {
  display: flex;
}

#message-area {
  flex: 1;
  width: 100%;
  margin-bottom: 0;
}

#chat-messages {
  min-height: 10vh;
  height: 85vh;
  width: 100%;
  overflow-y: auto;
  color: white;
  background: rgba(0, 0, 0, 0.87);
}

.message-container {
  margin-top: 0px;
  margin-bottom: 10px;
}

.is-self {
  display: flex;
  flex-direction: row-reverse;
}

.avatar {
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
}

.avatar-img {
  width: auto !important;
  height: 45px;
  margin: auto;
}

.message-name {
  margin-left: 2px;
  font-size: 12px;
  color: #bec4c0;
}

.message {
  margin-top: 2px;
  margin-bottom: 0;
  word-wrap: break-word;
  padding: 10px 13px !important;
  font-size: 14px;
}

.message img {
  height: 17px;
  vertical-align: text-bottom;
  margin-left: 5px;
  margin-right: 5px;
}

.status, .status-self {
  padding: 2px;
  font-size: 12px;
  margin-bottom: 5px;
}

.status-self {
  color: rgb(43, 187, 173);
}

.typing-status {
  height: 20px;
}

.typing-status span {
  padding-left: 10px;
  color: #929995;
}

#input-container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  min-height: 60px;
}

.input-field {
  margin-top: 0;
}

.input-field button {
  margin-top: 5px;
}

#message-box {
  color: white;
}

button:focus {
  background-color: initial;
}

.btn:active {
  transform: translateY(2px);
}
